asn1crypto==1.4.0
Brlapi==0.8.2
catfish==4.16.0
chardet==4.0.0
click==8.0.1
dbus-python==1.2.16
debtags==2.1
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
html5lib==1.1
itsdangerous==2.0.1
Jinja2==3.0.1
kali-tweaks==2021.2.2
lightdm-gtk-greeter-settings==1.2.2
louis==3.16.0
MarkupSafe==2.0.1
mechanize==0.4.5
netifaces==0.10.9
pexpect==4.8.0
psycopg2==2.9.1
pycairo==1.16.2
PyGObject==3.38.0
python-apt==2.2.0
python-debian==0.1.39
python-magic==0.4.20
pyxdg==0.27
six==1.16.0
SQLAlchemy==1.4.20
urllib3==1.26.4
webencodings==0.5.1
Werkzeug==2.0.1
xdg==5
