<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo da Blue - HTML, CSS, JS, Python e SQL</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    {% include 'header.html' %}
    
    <div class="bloco">
        <h2> Criar registros</h2>
    </div>

    {% if not novo_id %}

    <div class="bloco">
        <form class = "form" method = "POST">
            <div class = "bloco form_input">
                <label for = "atividade">Atividade: </label>
                <input type="text" id = "atividade" name = "atividade">
            </div>
            <div class = "bloco form_input">
                <label for = "prazo">Prazo [dd/mm/aaaa]: </label>
                <input type="text" id = "prazo" name = "prazo">
            </div>
            <div class = "bloco form_input">
                <label for = "observacoes">Observações: </label>
                <input type="text" id = "observacoes" name = "observacoes">
            </div>

            <div class = "bloco form_input" id="enviar">
                <input type="submit" class = "botao" value = "Enviar">
            </div>              
        </form>
    </div>

    {% else %}

    <div class = "bloco">
        <p>
            Atividade criada com sucesso!<br></br>
            Você tem até  <span class="novo_id">{{ data_atv }}</span><br></br>

        </p>
    </div>

    {% endif%}

    <div class="bloco">
        <a href = "javascript:history.back()" class = botao >Voltar</a>
    </div>
</body>
</html>

