<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete_segunda</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    {% include 'header2.html' %}
    

        <div class="bloco_sucesso">
            <p>
                Tarefa Removida com sucesso!
            </p>
        </div>

    <div class="bloco">
        <a href = "/anotacoes" class = botao >Ver Anotações</a>
    </div>
</body>
</html>

