<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href = "/static/style.css" />
    <title>Projeto Final</title>
</head>
<body>
    
</body>
</html>
<div class = "header">
    <div class = "bloco_imagem">
        <img src = "/static/logo_BLUE.gif" alt = "Imagem da BLUE" width="200" />
    </div>
    <div class = "bloco">
        <h1> Organizador de Tarefas BLUE </h1>
    </div>
    <div class = "bloco">
            <a href = "/" class = botao >Início</a>
            <a href = "/create" class = botao >Criar Atividade</a>

    </div>

</div>
