<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href="/static/style.css" />
    <title>BlueTasks</title>
</head>
<body>
    {% include 'header.html' %}

    <div class = "bloco_principal">
        <a href="/segunda" class="botao">Segunda-Feira</a>
        <a href="/terca" class="botao">Terça-Feira</a>
        <a href="/quarta" class="botao">Quarta-Feira</a>
    </div>

    <div class = "bloco_principal">
        <a href="/quinta" class="botao">Quinta-Feira</a>
        <a href="/sexta" class="botao">Sexta-Feira</a>
        <a href="/sabado" class="botao">Sábado</a>
    </div>

    <div class = "bloco_principal">
            <a href="/domingo" class="botao">Domingo</a>
            <form class = "form" method = "POST"> 
                <label for="anotacao">Anotações: </label><input type = "text" id = "anotacao" name="anotacao" placeholder="Digite aqui...">
                <input type="submit" class = "botao" value = "Enviar">
                <a href = "/anotacoes" class = botao >Ver Anotações</a>
            </form>
            
    </div>

    
</body>
</html>