<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarta</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    {% include 'header.html' %}
    
    <div class="bloco">
        <h2>Visualizar todos os registros</h2>
    </div>

    <div class="bloco">
        <table class="tabela">
            <tr class="tabela_header">
                <td>Tarefa</td>
                <td>Dia</td>
                <td>Observação</td>
                <td>Situação</td>
            </tr>

            {% for registro in registros %}

            <tr>
                <td>{{ registro["tarefa"] }}</td>
                <td>{{ registro["dia"] }}</td>
                <td>{{ registro["observacao"] }}</td>
                <td><form> <label for = "feito">Feito </label><input type="checkbox" name = "feito" id = "feito" value= "feito"></form></td>
                <td><a href="/update/{{ registro['id'] }}" class="botao">Editar</a></td>
                <td><a href="/delete_quarta/{{ registro['id'] }}" class="botao">Remover</a></td>
            </tr>

            {% endfor %}
        </table>
    </div>
</body>
</html>